<div class="card text-center border-success">
    <div class="card-header text-bg-success">
        DigitalBook Application
    </div>
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p>Partner Compensation system is a capstone project designed using Angular, Java Rest API and SQL server.
                It should be host on AWS cloud platform. It is a platform that will show the reports to the application
                users related partner compensation.

                This platform provide the facility for admin user to manage application user profile. Create Report User
                to view the report and compensation user to create the compensation plan.
            </p>
            <footer class="blockquote-footer">developed by <cite title="Source Title">Subhajit Sinha</cite></footer>
        </blockquote>
    </div>
</div>