<div class=" d-flex justify-content-center">
    <div class="card bg-warning shadow w-75">
        <div class="card-header text-center">
            Profile Details
        </div>
        <div class="card-body">
            <div class="row mb-3">
                <label class="col-md-2 col-form-label">Employee Id</label>
                <div class="col-md-10">
                    <input type="text" disabled class="form-control" name="EmployeeId" id="EmployeeId" [ngModel]="myProfileData.employeeId">
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-md-2 col-form-label">Email</label>
                <div class="col-md-10">
                    <input type="text" disabled class="form-control" name="email" id="email" [ngModel]="myProfileData.email">
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-md-2 col-form-label">First Name</label>
                <div class="col-md-10">
                    <input type="text" disabled class="form-control" name="firstname" id="firstname" [ngModel]="myProfileData.firstName">
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-md-2 col-form-label">Last Name</label>
                <div class="col-md-10">
                    <input type="text" disabled class="form-control" name="lastname" id="lastname" [ngModel]="myProfileData.lastName">
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-md-2 disabled col-form-label">Location</label>
                <div class="col-md-10">
                    <input type="text" disabled class="form-control" name="location" id="location" [ngModel]="myProfileData.location">
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-md-2 col-form-label">Job Title</label>
                <div class="col-md-10">
                    <input type="text" disabled class="form-control" name="jobtitle" id="jobtitle" [ngModel]="myProfileData.jobTitle">
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-md-2 col-form-label">Department</label>
                <div class="col-md-10">
                    <input type="text" disabled class="form-control" name="department" id="department" [ngModel]="myProfileData.department">
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-md-2 col-form-label">Role</label>
                <div class="col-md-10">
                    <input type="text" disabled class="form-control" name="role" id="role" [ngModel]="myProfileData.role">
                </div>
            </div>
        </div>
        <div class="card-footer text-muted text-center">
            Contact admin for any update/change
        </div>
    </div>
</div>