<nav class="navbar navbar-expand-sm bg-primary">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand text-light h1" routerLink="/">Partner Compensation System</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item" *ngIf="allowedRoles(['admin_user'])">
                    <a class="nav-link text-light h6" aria-current="page" routerLink="/create-user">Create User</a>
                </li>
                <li class="nav-item" *ngIf="allowedRoles(['admin_user'])">
                    <a class="nav-link text-light h6" routerLink="/users">All User</a>
                </li>
                <li class="nav-item" *ngIf="allowedRoles(['compensation_user'])">
                    <a class="nav-link text-light h6" routerLink="/create-compensation">Create Compensation</a>
                </li>
                <li class="nav-item" *ngIf="allowedRoles(['report_user'])">
                    <a class="nav-link text-light h6" aria-current="page" routerLink="/compensation-report">Compensation
                        Report</a>
                </li>
            </ul>
            <div class="nav justify-content-end">
                <a *ngIf="isSignedIn()" class="nav-item nav-link text-light" routerLink="/myprofile">{{fullname()}}</a>
                <button *ngIf="isSignedIn()" class="nav-item btn btn-success" (click)="signOut()">Sign Out</button>
            </div>
        </div>
    </div>
</nav>